{% extends "layout.html" %}

{% block body %}
<h1 class="page-header">Learn about it!</h1>

<h2>Electronics</h2>
<ul>
  <li>Arduino</li>
  <li>Soldering</li>
  <li>Resister</li>
  <li>Diode</li>
  <li>Piezo effect</li>
  <li>Op Amp</li>
</ul>

<h2>Web</h2>
<ul>
  <li>HTTP</li>
  <li>REST</li>
  <li>HTML / DOM</li>
</ul>

<h2>Programming</h2>
<ul>
  <li>Arduino</li>
  <li>Python</li>
  <li>Javascript</li>
  <li>D3</li>
</ul>

{% endblock %}

{% block side_menu %}
{% endblock %}

{% block page_js %}
{% endblock %}
